.container {
  display       : flex;
  flex-direction: column;
  // gap           : 32px;
  height        : inherit;
  min-height    : 100vh;

  // @media (max-width: 480px) {
  //   gap: 24px;
  // }
}
