.header {
  flex          : 0 0 auto;
  display       : flex;
  flex-direction: row;
  align-items   : center;
  padding       : 14px 20px;

  // &:focus-within {
  //   box-shadow: 0 0 1px 1px #B6D7EE;
  // }

  a {
    line-height: 0;
  }
}
