.footer {
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  gap            : 25px;

  flex          : 0 0 auto;
  padding       : 0 20px;
  padding-bottom: 26px;

  // &:focus-within {
  //   box-shadow: 0 0 1px 1px #B6D7EE;
  // }

  @media (max-width: 480px) {
    gap           : 8px;
    padding       : 0 17px;
    padding-bottom: 18px;
  }

  p,
  a {
    margin     : 0;
    font-size  : 14px;
    line-height: 12px;

    // letter-spacing: -0.333px;
    @media (max-width: 480px) {
      font-size: 12px;
    }
  }

  a {
    color          : blue;
    text-decoration: none;
  }

  hr {
    border       : 0 solid transparent;
    border-bottom: 1px solid #E5E8E8;
    margin       : 0;
    z-index      : -2;
  }

  >hr {
    height: 0;
  }

  >div {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
    align-items    : center;
    gap            : 14px;

    >p {
      >strong {
        margin-right: 8px;
        height: fit-content;

        @media (max-width: 480px) {
          margin-right: 4px;
        }
      }

      >span {
        color     : #565757;
        font-size : 12px;
        font-style: normal;
        height: fit-content;

        @media (max-width: 480px) {
          font-size     : 10px;
          letter-spacing: -0.15px;
        }
      }
    }

    >div {
      display: flex;
      flex   : 0 1 auto;
      gap    : 8px;

      >hr {
        flex     : 0 0 auto;
        width    : 24px;
        height   : 0;
        transform: rotate(-90deg) translateX(-5px);

        @media (max-width: 480px) {
          width: 16px;
        }
      }

      >a:last-of-type {
        display  : flex;
        flex-wrap: nowrap;
        gap      : 6px;

        @media (max-width: 480px) {
          gap: 4px;
        }

        >svg {
          height: 12px;
          width : 12px;

          @media (min-width: 480px) {
            transform: scale(1.25);
          }
        }
      }
    }
  }
}
