.footer {
  display        : flex;
  flex-direction : column;
  justify-content: flex-start;
  gap            : 24px;

  flex          : 0 0 auto;
  padding       : 0 20px;
  padding-bottom: 22px;

  // &:focus-within {
  //   box-shadow: 0 0 1px 1px #B6D7EE;
  // }

  p,
  a {
    margin   : 0;
    font-size: 14px;
  }

  a {
    color          : blue;
    text-decoration: none;
  }

  hr {
    border-top   : 1px solid #E5E8E8;
    border-bottom: 0px solid transparent;
    margin       : 0;
    height       : 0;
  }

  >section {
    display        : flex;
    justify-content: space-between;
      flex-wrap: wrap;
      gap: 14px;


    >div {
      display    : flex;
      align-items: baseline;
       flex: 0 1 auto;
    }

    >div:nth-of-type(1) {
      gap: 8px;

      >p:last-of-type {
        color    : #565757;
        font-size: 12px;
      }
    }

    >div:nth-of-type(2) {
      >hr {
        width    : 24px;
        transform: rotate(-90deg) translateX(4px);
      }

      >a:last-of-type {
        vertical-align: bottom;

        >svg {
          transform: translateY(2px);
        }
      }
    }
  }
}
