html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing : antialiased;
  font-family            : 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;

  margin: 0;
  height: inherit;
}

a {
  border-radius: 4px;
}

:focus {
  box-shadow: 0px 0px 0px 4px #FFFFFF,
    0px 0px 2px 6px rgba(0, 96, 252, 0.6);
  border : 0 solid transparent;
  outline: none;
}

#root {
  height: inherit;
}



/* main:focus-within,
header:focus-within,
footer:focus-within {
  border: 1px dashed gray;
} */

main,
header,
footer {
  position: relative;
}

main::before,
header::before,
footer::before {
  content                  : '';
  position                 : absolute;
  top                      : 0;
  left                     : 0;
  width                    : 100%;
  height                   : 100%;
  // border             : 3px dashed #0067A9;
  // border-spacing        : 4px;
  transition               : all 150ms ease;

  background: linear-gradient(to right, #0067A9 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(#0067A9 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, #0067A9 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(#0067A9 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-size    : 20px 1px,
    1px 20px;
  background-repeat: repeat-x,
    repeat-y;
  z-index: -1;
}


* {
  transition: all 150ms ease;
  box-sizing: border-box;
}
